@charset "UTF-8";

:root {
    --color1: #262626;
    --color2: #404040;
    --color3: #A6977B;
    --color4: #FFF;
    --color5: #BFBEAA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color1, #262626);
    font-size: 1rem;
}

.header__title {
    color: var(--color4, #D9D7CC);
    text-align: center;
    margin: 20px;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search__form form {
    position: relative;
    width: 80%;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.search__form input {
    border-radius: 25px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    background: var(--color2, #404040);
    font-size: 20px;
    color: var(--color4, #BFBEAA);
    padding: 0 30px;
}

.search__form button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    padding-left: 3px;
    fill: var(--color4, #BFBEAA);
}

main {
    width: 90%;
    min-width: 250px;
    margin: auto;
    padding: 20px;
    background-color: var(--color5, #BFBEAA);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.section__registration {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form__title,
.contacts__title {
    font-size: 1.2rem;
    color: var(--color1);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.section__registration form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.section__registration input {
    background-color: var(--color4, #BFBEAA);
    border: 1px solid var(--color3, #A6977B);
    border-radius: 3px;
    padding: 1px;
    color: var(--color2, #404040);
    width: 100%;
    height: 25px;
}

.section__registration label {
    color: var(--color2);
}

.section__registration form button {
    margin: 10px 0 20px 0;
    padding: 5px;
    width: 100px;
    height: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--color2, #404040);
    color: var(--color4);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.section__registration form button:hover {
    background-color: var(--color1, #262626);
}

#email {
    margin-left: -4px;
}

.contacts__list {
    list-style: none;
    margin: 20px;
}

.table-container {
    width: 100%;
    height: min-content;
    overflow: auto;
}

table {
    margin: auto;
}

table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

thead {
    background-color: var(--color2, #404040);
    color: var(--color4, #BFBEAA);
}

td {
    background-color: var(--color4);
}

tr img {
    padding-top: 8px;
}

#no-contacts {
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    color: var(--color2, #404040);
}

@media screen and (min-width: 768px) {
    main {
        max-width: 750px;
        min-width: 600px;
    }

    .section__registration form div {
        flex-direction: row;
    }

    .section__registration input {
        width: 30%;
    }
}